.text-light {
  color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}

.App {
  text-align: center;
}

.icon-poo {
  color: #995200;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .App-header {
  background-color: #1c1c1c;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.dark-mode .navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.dark-mode .btn-click {
  background-color: #282c34;
  color: white;
}
